

$('button').click(function(){
  $('.card-important').append("<p>thankyou for your custom we shall get back to you shortly</p>");
  }
)





}
.card-overlay{
  @extend .overlay;
  position: relative;
}
body{background-color: #EEEEEE;}
.socialmedia {
  z-index: 3;
  position: fixed;
  top: 90%;
  left: 2.5%;
  display: flex;
  margin: auto;
  background-color: #EEEEEE;
}
.socialmedia img {
  position: relative;
  margin: 0.2em;
  width: 3.15em;
  height: 3.15em;
  box-shadow: 0 0em 0.35em 0 #212121;
  border-radius: 100%;
}


.accordion-content{
  @extend %hidden-slide;
  z-index: 9;
  background-color: #37474f;
  left:-100%;
  top:0;
  width: 14.75em;
  height: 100%;
  box-shadow: 0 0 0.95em #212121;
  h3{
    margin:0;
    padding: 0;
    font-size: 1.45;
    a{
      padding: 0.95em;
      margin: 0;
      content: '';
      display: block;
      font-size: 1.45rem;
      font-style: normal;
      text-decoration: none;
      color:#F5F5F5;
    }
  }
  h3:hover{
    background-color:  #455a64;
  }
  #navbar-title{
    top:0em;
    background: #bdbdbd;
    padding: 1em;
    margin:0;
  }
  #current-page{
      font-size: 1.35rem;
      top:0em;
      background: #e3f2fd;
      padding: 0.95em;
  }
}
.card-data{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  height: auto;
  width: auto;
}
