  <div class="card style">
      <div class="card-data">
            {% if include.card.important != null %}
                {% include {{include.card.important}} card=include.card%}
            {% endif %}
            <div class="card-content">
              {% if include.card.header != null %}
                  {% include {{include.card.header}} card=include.card snippet=false %}
              {% endif %}
              {% if include.card.root %}
                  {{ include.card.content | markdownify }}
              {% else %}
                  {{ include.card.content }}
              {% endif %}
            </div>
            {% if include.card.footer != null %}
                      {% include {{include.card.footer}} card=include.card %}
            {% endif %}
      </div>
  </div>
