  {% capture url %}'{{site.baseurl}}{{ include.card.url }}'{% endcapture %}

<div class="card style card-link" onclick="onlink({{url}})">
    <div class="card-data">
        {% if include.card.important != null %}
            {% include {{include.card.important}} card=include.card snippet=true %}
        {% endif %}
        <div class="card-elipsis">
          {% if include.card.header != null %}
            <h1 class="card-header">{{include.card.header}}</h1>
          {% else if include.card.productname !=null %}
              <h1 class="card-header">{{include.card.productname}}</h1>
          {% endif %}
          {% if include.card.root %}
              {{ include.card.content | markdownify }}
          {% else %}
              {{ include.card.content }}
          {% endif %}
          {% if include.card.hidden != null and include.root == null %}
                <h2 class="hidden-activator">{{include.card.hidden}}</h2>
                  <div class="card-hidden">
                    {% include {{include.card.footer}} card=page%}
                </div>
          {% endif %}
        </div>
    </div>
</div>
