  <div class="card style">
      <div class="card-data">
            {% if include.card.important != null %}
                {% include {{include.card.important}} card=include.card%}
            {% endif %}
            <div class="card-content">
              {% if include.card.header != null %}
                  {% include {{include.card.header}} card=include.card snippet=false %}
              {% endif %}
              {% if include.card.root %}
                  {{ include.card.content | markdownify }}
              {% else %}
                  {{ include.card.content }}
              {% endif %}
            </div>
            {% if include.card.hidden != null and include.root == null %}
                  <h2 class="card-link" onclick="fadein('.card-data.card-hidden, 1)"> {{include.card.hidden}}</h2>
                    <div class="card-hidden">
                      {% include {{include.card.footer}} card=page%}
                  </div>
            {% endif %}
      </div>
  </div>
