<div class="card-data">
<form method=post>
  <p>What, overall would you rate this site at?</p>


  0
  <input type="range" id="rating" >
  10

  <p>What age range do you think this website is aimed at?</p>
  <input type="checkbox" value="under10">under 10.
  <input type="checkbox" value="10-20">10-20
  <input type="checkbox" value="20-30">20-30
  <input type="checkbox" value="40-50">40-50
  <input type="checkbox" value="40-50">40-50
  <input type="checkbox" value="50-60">50-60
  <input type="checkbox" value="over60">over 60.

  <p>What is your opinion on our websites layout?<p>
  <textarea value="opinion">
    please enter your opinion here or leave blank if you do not
    want to tell us.
  </textarea>

  <p>Do you think this website works well on mobile devices?</p>
  <input type="radio" value="yes">yes
  <input type="radio" value="no">no

  <p>What would you want to see next on this website?</p>
  <select>
    <option value="socailmedia"><p>More socail media intergration</p></option>
    <option value="mobilenav"><p>Better Mobile navigation.</p></option>
    <option value="footer"><p>Put the footer always at the bottom. </p></option>
    <option value="hire"><p>Create a hire page.</p></option>
    <option value="ads"><p>Remove advertisements.</p></option>
  </select>
  <div>
    <p>if you want a reply from us please input your email, from witch you can contact us</p>
    <input type="text" value="email">

    <button type="submit" value="enter">enter details</button>
  </div>
</form>
