{% if include.snippet != true %}
    <div class="card-gallery">
      <div class="card-image-container">
          <img class = "card-image" src = "/products/images/{{include.card.product-imagesrc}}" alt="{{include.card.productname}} image">
      </div>
          <div class = "card-gallery-bar" >
              <img class = "card-image" src = "/products/images/{{include.card.product-imagesrc}}" alt="{{include.card.productname}} image">
            {% for image in include.card.image-gallery %}
                  <img class = "card-image" src = "/products/images/{{image}}" alt="{{image}}">
            {% endfor %}
            {% for video in include.card.video-gallery %}
                <video class = "card-image">
                  <source src="{{video}}" type="video/mp4">
                </video>
            {% endfor %}
            {% for embed in include.card.embed-gallery %}
                <div class="card-embed-wrapper">
                  {%capture thumbnail %}http://img.youtube.com/vi/{{ embed| remove:'www.youtube.com/embed/' }}/0.jpg{% endcapture %}
                  <img class="card-image" src="{{thumbnail}}">
                  <iframe src="http://{{embed}}" >
                  </iframe>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
  <div class="card-image-container">
      <img class = "card-image" src = "/products/images/{{include.card.product-imagesrc}}" alt="{{include.card.productname}} image">
  </div>
{% endif %}
