<head>
  <meta charset="utf-8">
  <title>{% if page.title != null %}{{page.title}}{% else %}{{site.tite}}{% endif %}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <script type="text/javascript" src="/_scripts/js/3rd_party/jquery-2.1.4.min.javascript"></script>
  <script type="text/javascript" src="/_scripts/js/3rd_party/jquery.dotdotdot.min.javascript"></script>
  <script type="text/javascript" src="/_scripts/js/animations.javascript"></script>
  <script type="text/javascript" src="/_scripts/js/responsive.javascript"></script>
</head>
