<head>
  <meta charset="utf-8">
  <title>{% if page.title != null %}{{page.title}}{% else %}{{site.tite}}{% endif %}</title>
  <!-- <script type="text/javascript" href="hi.js"></script> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <script type="text/javascript" src="/_scripts/js/3rd_party/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/_scripts/js/animations.js"></script>
  <script type="text/javascript" src="/_scripts/js/responsive.js"></script>
</head>
