<div class = "card-important">
  <div>
    <h2>{{include.card.productname}}</h2>
    <h3>{{include.card.price}}</h3>
    <input class="hidden-appear" type="text" name="quantity">
    {% if include.page.hire %}
        <input type="submit" value="hire" name="hire" class="hidden-appear">
    {% else %}
        <input type="submit" value="buy" name="buy" class="hidden-appear">
    {% endif %}
  </div>
  <div class="card-image-container">
      <img class = "card-image" src = "/products/images/{{include.card.product-imagesrc}}" alt="{{include.card.productname}} image">
  </div>
</div>
