<div class = "card-important">
  <div class="hidden-appear">
    <h3>{{include.card.price}}</h3>
    <input  type="text" name="quantity">
    {% if include.page.hire %}
        <input type="submit" value="hire" name="hire" >
    {% else %}
        <input type="submit" value="buy" name="buy" >
    {% endif %}
  </div>
  <div class="card-image-container">
      <img class = "card-image" src = "/shop/products/images/{{include.card.product-imagesrc}}" alt="{{include.card.productname}} image">
  </div>
</div>
<h1>{{include.card.productname}}</h1>
