//main card class
.card{
    z-index: 2.5;
    position: relative;
    width: 20%;
    height: 90%;
    vertical-align: middle;
    left: 5%;
    top: 10%;
    padding: 0;
    padding-left: 1em;
    margin: 1.25rem 1.25rem 0 0;
    display: block;
    background-color: #FAFAFA;
    box-shadow: 0 0 0.25em #616161;
}

.card-data{
  overflow: auto;
  display: flex-inline;
  flex-wrap: inhiert
}

.card-image{

}

.card-important{
  @extend .card-data;
  top: 25%;
  .card-image{
      left:50%;
  }
}

.card-layout-matrix{
    position: relative;
    display: inline-flex;
    height:100%;
    width: 100%;
}

.card-hidden{
  @extend .hidden-slide;
  top: 0;
}
