//main card class
.card{
    z-index: 2.5;
    position: relative;
    height: 90%;
    vertical-align: middle;
    left: 4%;
    top: 10%;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin: 1.25rem 1.25rem 0 0;
    display: block;
    background-color: #FAFAFA;
    box-shadow: 0 0 0.25em #616161;
}

.card-data{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.card-image-container{
    position: relative;
    text-align: center;
    display: flex;
    height: auto;
}

.card-image{
  display: block;
  position: relative;
  margin: auto;
  width: 95%;
  height: 95%;
}

.card-important{
  @extend .card-data;
  top: 25%;
  height: 100%;
  width: 100%;
  position: relative;

}

.card-layout-matrix{
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    .card{
        height: 20%;
        width: 45%;
    }
}

.card-hidden{
  @extend .hidden-slide;
  top: 0;
}
