.footer-bar{
    position: relative;
    background-color: #00ACC1;
    box-shadow: 0 0 0.85em #212121;
    footer{
      position: static;
      display: block;
      z-index: 2;
      height: 4em;
      width: 100%;
      top: calc(100% - 4em );
      left: 0;
      padding:0;
      margin:0;
    }
}
