

footer{
  position: absolute;
  top:100%;
  width:100%;
  height: 4em;
  left:0;
  background-color: $barblue;
  box-shadow: 0 0 0.85em $boxshadowgrad1;
  z-index: 2;
  text-align: center;
  a,.center{
    margin-right:11.5%;
    margin-left:11.5%;
    position: relative;
    color:white;
  }
  a{
    text-decoration: underline;
  }
  a:hover{
      text-decoration: none;
  }
  .center{
    display: inline;
  }
}
