@function headings($start, $end){
    $x:"";
    @for $i from $start through $end{
      $x:$x+"h#{$i},";
    }
    @return $x;
}

@function next($val){
    $val : $val + 1;
    @return $val;
}

@function previous($val){
    $val : $val - 1;
    @return $val;
}
