.hidden-activator{
  cursor: pointer;
  color: #42a5f5;
  vertical-align: middle;
  text-align: center;
}
.hidden-appear{
  opacity: 0;
  display: none;
  transition: all 0.875s ease;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
%hidden-slide{
  position: fixed;
  transition: all 0.875s ease;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.overlay{
  z-index: 1;
  opacity: 0;
  content: '';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  position: fixed;
  transition: all 0.875s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
%elipsis-overflow{
  max-height: 2.5em;
  content:"";
}
.readmore{
  content:"";
}
