#topbar{
  position: fixed;
  z-index: 2;
  left:0;
  top:0;
  width: 100%;
  background-color: #00ACC1;
  padding:0;
  margin: 0;
  box-shadow: 0 0 0.85em #212121;
  #title{
    left:0%;
    padding-top:0.65em;
    padding-bottom: 0.65em;
    display: inline-block;
    span{
      word-wrap: normal;
      font-size-adjust: auto;
      padding-left: 1.750em;
      display: inline;
      font-size: 1.65rem;
      color:#ffffff;
    }
  }
  #padder{
      position: relative;
      left:0.95em;
      display: inline-block;
      .navicon{
          position: fixed;
          vertical-align: bottom;
          top: 1.1em;
          height: 0.25em;
          width: 1.35em;
          background: #111;
          border-radius: 5%;
          box-shadow: 0 0.4em 0 0 #111,
          0 0.8em 0 0 #111;
          a{
            cursor: pointer;
            content: '';
            position: fixed;
            width: 1.2em;
            height: 1.23em;
          }
      }
    }
}
.accordion-content{
  @extend .hidden-slide;
  z-index: 9;
  background-color: #37474f;
  left:-100%;
  top:0;
  width: 14.75em;
  height: 100%;
  box-shadow: 0 0 0.95em #212121;
  h3{
    margin:0;
    padding: 0;
    font-size: 1.45;
    a{
      padding: 0.95em;
      margin: 0;
      content: '';
      display: block;
      font-size: 1.45rem;
      font-style: normal;
      text-decoration: none;
      color:#F5F5F5;
    }
  }
  h3:hover{
    background-color:  #455a64;
  }
  #navbar-title{
    top:0em;
    background: #bdbdbd;
    padding: 1em;
    margin:0;
  }
  #current-page{
      font-size: 1.35rem;
      top:0em;
      background: #e3f2fd;
      padding: 0.95em;
  }
}
