#navbar{
  position: fixed;
  left:0em;
  top:0em;
  width: 100%;
  background-color: #00ACC1 ;
  #title{
    left:0%;
    padding-top:0.65vh;
    padding-bottom: 0.65vh;
    display: inline-block;
    span{
      word-wrap: normal;
      font-size-adjust: auto;
      padding-left: 1.750em;
      display: inline;
      font-size: 1.45em;
      color:#ffffff;
    }
  }
  #Vnavbar{
      position: relative;
      left:0.75em;
      display: inline-block;
      .navicon{
          position: fixed;
          vertical-align: bottom;
          top:0.65em;
          height: 0.15em;
          width: 1em;
          background: #111;
          border-radius: 5%;
          box-shadow: 0 0.325em 0 0 black,
          0 0.65em 0 0 black;
          a{
            content: '';
            position: fixed;
            width: 1em;
            height: 1.03em;
          }
      }
    }
}
.accordion-content{
    width:0em;
    height: 0em;
    overflow:hidden;
    display: none;
}
.accordion-content:target{
  padding 0;
  margin: 0;
  background: #37474f;
  left:0;
  top:0;
  position: fixed;
  width: 13.25em;
  height: 100%;
  overflow: auto;
  display: block;
  h3{
    a{
      padding: 0.75em;
      content: '';
      display: block;
      font-size: 1.15em;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      color:#ffff00 ;
    }
  }
  h3:hover{
    background-color:  #455a64;
  }
  #menu-title{
    top:0em;
    background: #bdbdbd;
    padding: 1em;
  }
  #current-page{
      top:0em;
      background: #e3f2fd;
      padding: 0.95em;
  }
}
