a{
  color: #42a5f5;
  text-decoration: none;
}
a:visited{
  color:black;
  text-decoration: none;
}
a:hover{
  color:black;
  text-decoration:underline;
}
body{
  background: #01579b ;
  color:#f5f5f5;
}
