
$background:#EEEEEE;
$card-white:#FAFAFA;
$boxshadowgrad3:#616161;
$linkblue:#42a5f5;
$darkergrey:#424242;
$barblue:#00ACC1;
$boxshadowgrad1:#212121;
$boxshadowgrad2:#111;
$barblue:#00ACC1;
$boxshadowgrad1:#212121;
$navbarbuttoncolor:#111;
$stormgrey: #455a64;
$background:#EEEEEE;
$bluegreyhover:#B0BEC5;
$slightgrey:#e3f2fd;
$grey:#bdbdbd;
$darkgrey:#323232;
