<! DOCTYPE>
<header>
  <meta charset="utf-8">
  <!-- <script type="text/javascript" href="hi.js"></script> -->
  <link rel="stylesheet" type="text/css" href="../css/template.css">
</header>
<html>
    <div id=navbar class="style navbar">
      <ul>
        <li><a>home</a></li>
        <li><a>shop</a></li>
        <li><a>news</a></li>
        <li><a>account</a></li>
        <li><a>about us</a></li>
      </ul>
    </div>
    <div id=main class="style">
        <p> content </p>
    </div>

</html>
