<!DOCTYPE html>

{% include head.html %}

<html>
<body>
      <div id="navbar" class="style">
        <div id="Vnavbar" class="style">
            <div class="navicon">
        </div>
        <div id="menu">
          {%for page in site.pages %}
              <p></p>
          {% endfor %}
        </div>
      </div>
      <div id="title">
        <span>{{page.title}}</span>
    </div>
    </div>
    <div id="main" class="style">
      <main>
          {{content}}
      </main>
  </div>
  </body>
</html>
