<!DOCTYPE html>

{% include head.html %}

<html>
<body>

    <div class="accordion-content">
      <h2 id="navbar-title">{{site.title}}</h2>
        {% for ipage in site.pages %}
            {% if ipage.title != null %}
              <div>
                {% if ipage.title != page.title %}
                  <h3><a href="{{ipage.url}}">{{ipage.title}}</a></h3>
                {% else %}
                  <h3 id="current-page">{{page.title}}</h3>
                {% endif %}
              </div>
            {% endif %}
        {% endfor %}
    </div>

    <a class="overlay" onclick="navbarclose()"></a>

      <div id="topbar" class="style">
          <div id="padder">
            <div class="navicon">
                <a onclick="navbaropen()"></a>
            </div>
          </div>
          <div id="title">
                <span>{{page.title}}</span>
          </div>
      </div>

      <div id="main" class="style">
          <main>
              {{content}}
          </main>
      </div>

      {% include footer.html %}

  </body>
</html>
