---
layout: default
---
<div class="card-layout-matrix">
  <div class="card-fullscreen style">
      <div class="card-data-colum">
          {% if page.important != null %}
              {% include {{page.important}} card=page snippet=false%}
          {% endif %}
          <div>
            <div class="card-heading">
              {% if page.header != null %}
                  <h1 class="card-header">{{page.header}} </h1>
              {% else if page.productname != null%}
                <h1 class="card-header">{{page.productname}} </h1>
              {% else %}
                <h1 class="card-header">{{page.title}} </h1>
              {% endif %}
              <hr>
            </div>
            {{ content }}
            {% if page.footer != null and include.root == null %}
                  {% include {{page.footer}} card=page%}
            {% endif %}
          </div>
      </div>
  </div>
</div>
